* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 430px;
    line-height: 22px;
}

html {
    background: linear-gradient(112.9deg, #151515 0%, rgba(21, 21, 21, 0.9) 100%);
    





    height: 100vh;
    padding: 4rem;
    font-family: 'Inter', sans-serif;
    color: aliceblue;
    letter-spacing: -0.25px;
    line-height: auto;
    font-size: 1.125rem;
}

.pb1 {
    margin-bottom: 1rem;
}

.pb2 {
    margin-bottom: 1.75rem;
}

.bold {
    font-weight: 700;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;
}

.linkWraper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.icon {
    display: block;
}

a:hover {
    background-color: #FFFFFF10;
    padding: 8px 16px;
    margin: -8px -16px;
    border-radius: 100px;
    /* transition: linear; */
    transition-duration: 100ms;
}

.password {
    background-color: aliceblue;
    padding: 20px;
    color: black;
}

/* modal */

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }
  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 2;
  }

  .hidden {
    display: none;
  }

  @media only screen and (max-width: 600px) {
    html {
      padding: 2rem;
    }
    body {
      width: auto;
    }
  } 
